body {
    background-color: #333;
    color: #fff;
    margin:0 100px 0 100px;
}

#loading {
    width: 20px;
    height: 20px;
}

#img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #abcdef;
    opacity: .5;
}


  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .charge-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  .charge-list li {
    box-sizing: border-box;
    flex: 0 1 24%;
    padding: 10px;
    margin: 0 1% 2% 0;
    border-radius: 10px;
    transition: all .4s;
  }

  .charge-list li:hover {
    margin-top: -1%;
  }

  .charge-list li:nth-child(n) {
    background: #aaaadd;
  }

  .charge-list li:nth-child(2n) {
    background: #ddddaa;
  }

  .charge-list li:nth-child(3n) {
    background: #dad;
  }

  .charge-list li:nth-child(3n+1) {
    background: #aaf;
  }